version: '2'
services:
  aai.hbase.simpledemo.onap.org:
    image: cassandra:2.1
    hostname: aai.hbase.simpledemo.onap.org
    ports:
      - 7000:7000
      - 7001:7001
      - 7199:7199
      - 9042:9042
    environment:
      - MAX_HEAP_SIZE=512M
      - HEAN_NEWSIZE="100M"
      - CASSANDRA_SEEDS="aai.hbase.simpledemo.onap.org"
      - CASSANDRA_DC="Heat Lab"
      - CASSANDRA_RACK="Rack1"
      - CASSANDRA_AUTO_BOOTSTRAP=true
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "5"
  aai.elasticsearch.simpledemo.openecomp.org:
    image: elasticsearch:2.4.1
    hostname: aai.elasticsearch.simpledemo.openecomp.org
    container_name: elasticsearch
    ports:
      - "9200:9200"
    volumes:
      - /opt/test-config/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - es-data:/usr/share/elasticsearch/data
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "5"

networks:
  default: 
      driver: bridge
      driver_opts:
        com.docker.network.driver.mtu: ${MTU}

volumes:
  es-data:
