version: '2'
services:
  aai.hbase.simpledemo.openecomp.org:
    image: ${HBASE_IMAGE}
    hostname: aai.hbase.simpledemo.openecomp.org
    ports:
      - 2181:2181
      - 8080:8080
      - 8085:8085
      - 9090:9090
      - 16000:16000
      - 16010:16010
      - 16201:16201
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "5"
  aai.elasticsearch.simpledemo.openecomp.org:
    image: elasticsearch:2.4.1
    hostname: aai.elasticsearch.simpledemo.openecomp.org
    container_name: elasticsearch
    ports:
      - "9200:9200"
    volumes:
      - /opt/test-config/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - es-data:/usr/share/elasticsearch/data
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "5"

networks:
  default: 
      driver: bridge
      driver_opts:
        com.docker.network.driver.mtu: ${MTU}

volumes:
  es-data:
